<html><head>

    <!-- gulp inject: gulp.js file will auto inject these dependencies - do not remove comments -->
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap-social/bootstrap-social.css" />
    <!--endbower-->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--endinject -->
    <!--inject:js-->
    <script src="/js/scripts.js"></script>
    <!--endinject -->

</head>

<body class="container">






<div class="col-sm-8">
    <img src="<%=user.image%>" >  <br/>
    <%=user.displayName%><br/>

    <%if(user.facebook){%>
    <img src="<%=user.facebook.image%>" >  <br/>
    Total friends: <%=user.facebook.friends %>
    <%}%>

    <%if(user.twitter){%>

    Last Post: <%=user.twitter.lastPost %>
    <%}%>




</div>


<div class="col-sm-8">




    <ul class="col-sm-4 social-buttons">

        <li>
            <a href="/oauth/google" class="btn btn-block btn-social  <%if( user.google) { %>btn-google<%  } %>">
                <span class="fa fa-google"></span> Sign in with Google</a>
            GOOGLE?<%=user.google%>
        </li>

        <li>
            <a href="/oauth/twitter" class="btn btn-block btn-social  <%if( user.twitter) { %>btn-twitter<%  } %>">
                <span class="fa fa-twitter"></span> Sign in with Twitter</a>
            TWITTER?<%=user.twitter%>
        </li>
        <li>
            <a href="/oauth/facebook" class="btn btn-block btn-social <%if( user.facebook) { %>btn-facebook<%  } %>">
                <span class="fa fa-facebook"></span> Sign in with Facebook</a>
            FACEBOOK? <%=user.facebook%>
        </li>

    </ul>




</div>





</body>

<script type="javascript">

    alert(JSON.stringify(<%=user %>));

</script>

</html>